<footer>
    <div class="footer-menu mt-10 bg-light border">
        <div class="container">
            <ul class="nav justify-content-evenly p-2">
                <li class="nav-item">
                  <a class="nav-link text-dark link-secondary" aria-current="page" href="#">關於In Japan</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-dark link-secondary" href="#">最新消息</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-dark link-secondary" href="#">旅遊資訊</a> 
                </li>
                <li class="nav-item">
                  <a class="nav-link text-dark link-secondary" href="#">查詢訂單</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark link-secondary" href="#">我的收藏</a>
                  </li>
              </ul>
        </div>
    </div>
    <div class="footer-info py-4">
        <div class="container d-flex justify-content-evenly align-items-center">
            <div class="follow">
                <h3 class="fw-bold">follow us on</h3>
                <div class="social mt-4 d-flex">
                    <a href="#" class="me-6"><img src="/assets/images/facebook.png" alt="facebook"></a>
                    <a href="#" class="me-6"><img src="/assets/images/instagram.png" alt="instagram"></a>
                    <a href="#" class="me-6"><img src="/assets/images/line.png" alt="line"></a>
                    <a href="#"><img src="/assets/images/youtube.png" alt="youtube"></a>
                </div>
    
            </div>
            <div class="footer-logo">
                <h2><a href="#"><img src="/assets/images/in japa拷貝.png" alt="logo"></a></h2>
            </div>
            <div class="info">
                <p>旅遊產品由 酷愛日本旅行有限公司 提供</p>
                <p>代表人：王小明</p>
                <p>統一編號：12345678</p>
                <p>聯絡地址：台灣台北市發財路888號</p>
                <p>聯絡電話：02-2345-6789</p>
                <p>email：service@test.com</p>
            </div>
        </div>
    </div>
    <div class="copyright text-center p-2 border-top">
        <p>COPYRIGHT © 2023 In Japan All rights reserved.</p>
    </div>
</footer>
