.info-img {
        background-image: url(/assets/images/Universal_Studios.jpeg);
        background-position: center;
        background-size: cover;
        height: calc(80vh - 66px);
}
.title {
    span {
        font-size: 36px;
    }
}
.plan-choice {
    .material-icons {
        font-size: 30px;
    }
}
.recommend {
    .card {
        overflow: hidden;
        img {
        height: 214px;
        &:hover {
          transform: scale(1.1);
        }
      }
    }
}