<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Noto+Sans+TC:wght@400;700;900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <title>IN JAPAN</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>

    <div class="banner">
      <div class="container h-100">
          <div class="banner-text d-flex flex-column justify-content-center h-100">
            <h1>探索日本，開啟屬於你的和式之旅。</h1>
            <p>踏上日本之旅，啟程夢想之途，日本之美，等你親身體驗。</p>
            <div class="banner-search">
              <form class="d-flex">
                <input class="w-50 p-2" type="search" placeholder="探索目的地、景點、行程" aria-label="Search"> 
                <button class="btn btn-danger d-flex align-items-center" type="button">
                  <span class="material-icons">
                    search
                  </span>
                搜尋
                </button>
              </form>
              
            </div>  
          </div>
      </div>
    </div>

    <div class="main-event">
        <div class="container">
          <h2 class="mt-10 h3">主打活動 現正優惠中</h2>
          <div class="row">
            <div class="col">
              <div class="card border-0 mt-6">
                <a href="#">
                  <img src="/assets/images/photo-1583839543004-7cb6e69b8b33.avif" class="card-img-top rounded" style="height: 160px;" alt="okinawa beach">
                </a>
                <div class="card-body">
                  <h5 class="card-title card-link text-center h4">
                    <a href="#" class="text-dark link-secondary">沖繩海岸樂活優惠</a>
                  </h5>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card border-0 mt-6">
                <a href="#">
                  <img src="/assets/images/ozgu-ozden-QD7wbJVqDP0-unsplash.jpg" class="card-img-top rounded" style="height: 160px;" alt="okinawa beach">
                </a>
                <div class="card-body">
                  <h5 class="card-title card-link text-center h4">
                    <a href="#" class="text-dark link-secondary">盛夏狂歡，京都祭典之旅</a>
                  </h5>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card border-0 mt-6">
                <a href="#">
                  <img src="/assets/images/axp-photography-T7x518t4ppk-unsplash.jpg" class="card-img-top rounded" style="height: 160px;" alt="maple leaf">
                </a>
                <div class="card-body">
                  <h5 class="card-title card-link text-center h4">
                    <a href="#" class="text-dark link-secondary">早鳥賞楓，秋季限定特價</a>
                  </h5>
                </div>
              </div>
            </div>
          </div>
        </div>
          

    </div>

    <div class="top10">
      <div class="container">
        <h2 class="mt-10 h3">TOP 10 熱銷行程</h2>
        <div class="row row-cols-1 row-cols-lg-4">
          <div class="col">
            <div class="card mt-6 h-100">
              <div>
                <img src="/assets/images/guneet-jassal-ZFm3hpMCS68-unsplash.jpg" class="card-img-top position-relative img-fluid" alt="Universal studios" >
                <a href="#">
                  <span class="material-icons position-absolute top-0 end-0 h2 link-secondary">
                    favorite
                  </span>
                </a>
              </div>
              
              <div class="card-body">
                <h5 class="card-title">
                  <a href="#" class="text-dark link-secondary">大阪環球影城門票</a>
                </h5>
                <span class="badge rounded-pill bg-secondary">熱賣中</span>
                <span class="badge rounded-pill bg-secondary">即買即用</span>
                <p class="card-text mt-2 d-flex fs-6 text-secondary" style="font-size: 14px;">
                  <span class="material-icons text-warning" style="font-size: 22px;">
                    star
                  </span>
                  <span class="text-warning fw-bold fs-6" style="font-size: 14px;">4.9</span>
                  ・100K＋已訂購
                </p>
              </div>
              <div class="card-footer bg-transparent border-success border-0 mt-6">
                <h5>NT$ 1999起</h5>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card mt-6 h-100">
              <div class="h-50">
                <img src="/assets/images/capricorn-song-BLYq8Qk8Q98-unsplash.jpg" class="card-img-top position-relative img-fluid" alt="Universal studios">
                <a href="#">
                  <span class="material-icons position-absolute top-0 end-0 h2 link-secondary">
                    favorite
                  </span>
                </a>
              </div>
              
              <div class="card-body">
                <h5 class="card-title">
                  <a href="#" class="text-dark link-secondary">東京迪士尼樂園門票</a>
                </h5>
                <span class="badge rounded-pill bg-secondary">熱賣中</span>
                <span class="badge rounded-pill bg-secondary">即買即用</span>
                <p class="card-text mt-2 d-flex fs-6 text-secondary" style="font-size: 14px;">
                  <span class="material-icons text-warning" style="font-size: 22px;">
                    star
                  </span>
                  <span class="text-warning fw-bold fs-6" style="font-size: 14px;">4.9</span>
                  ・100K＋已訂購
                </p>
              </div>
              <div class="card-footer bg-transparent border-success border-0 mt-6">
                <h5>NT$ 1988起</h5>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card mt-6 h-100">
              <div>
                <img src="/assets/images/fikri-rasyid-3ba59K57wE4-unsplash.jpg" class="card-img-top position-relative img-fluid" alt="Universal studios">
                <a href="#">
                  <span class="material-icons position-absolute top-0 end-0 h2 link-secondary">
                    favorite
                  </span>
                </a>
              </div>
              
              <div class="card-body">
                <h5 class="card-title">
                  <a href="#" class="text-dark link-secondary">關西周遊卷2日卷/3
                    日卷-關西機場領取</a>
                </h5>
                <span class="badge rounded-pill bg-secondary">熱賣中</span>
                <span class="badge rounded-pill bg-secondary">即買即用</span>
                <p class="card-text mt-2 d-flex fs-6 text-secondary" style="font-size: 14px;">
                  <span class="material-icons text-warning" style="font-size: 22px;">
                    star
                  </span>
                  <span class="text-warning fw-bold fs-6" style="font-size: 14px;">4.8</span>
                  ・80K＋已訂購
                </p>
              </div>
              <div class="card-footer bg-transparent border-success border-0 mt-6">
                <h5>NT$ 999起</h5>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card mt-6 h-100">
              <div>
                <img src="/assets/images/Harry Potter.jpg" class="card-img-top position-relative img-fluid" alt="Universal studios" >
                <a href="#">
                  <span class="material-icons position-absolute top-0 end-0 h2 link-secondary">
                    favorite
                  </span>
                </a>
              </div>
              
              <div class="card-body">
                <h5 class="card-title">
                  <a href="#" class="text-dark link-secondary">東京華納兄弟哈利波
                    特影城門票</a>
                </h5>
                <span class="badge rounded-pill bg-secondary">熱賣中</span>
                <span class="badge rounded-pill bg-secondary">即買即用</span>
                <p class="card-text mt-2 d-flex fs-6 text-secondary" style="font-size: 14px;">
                  <span class="material-icons text-warning" style="font-size: 22px;">
                    star
                  </span>
                  <span class="text-warning fw-bold fs-6" style="font-size: 14px;">4.9</span>
                  ・50K＋已訂購
                </p>
              </div>
              <div class="card-footer bg-transparent border-success border-0 mt-6">
                <h5>NT$ 1399起</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="popular pt-10">
      <div class="container">
        <h2 class="mt-10 h3">人氣精選</h2>
        <div class="row row-cols-1 row-cols-lg-4">
          <div class="col">
            <div class="card mt-6 h-100">
              <div>
                <img src="/assets/images/Nara.jpg" class="card-img-top position-relative img-fluid" alt="Universal studios">
                <a href="#">
                  <span class="material-icons position-absolute top-0 end-0 h2 link-secondary">
                    favorite
                  </span>
                </a>
              </div>
              
              <div class="card-body">
                <h5 class="card-title">
                  <a href="#" class="text-dark link-secondary">京都＆奈良一日遊</a>
                </h5>
                <span class="badge rounded-pill bg-secondary">熱賣中</span>
                <p class="card-text mt-2 d-flex fs-6 text-secondary" style="font-size: 14px;">
                  <span class="material-icons text-warning" style="font-size: 22px;">
                    star
                  </span>
                  <span class="text-warning fw-bold fs-6" style="font-size: 14px;">4.9</span>
                  ・66K＋已訂購
                </p>
              </div>
              <div class="card-footer bg-transparent border-success border-0 mt-6">
                <h5>NT$ 2166起</h5>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card mt-6 h-100">
              <div class="h-50">
                <img src="/assets/images/Okinawa.jpeg" class="card-img-top position-relative img-fluid" alt="Universal studios">
                <a href="#">
                  <span class="material-icons position-absolute top-0 end-0 h2 link-secondary">
                    favorite
                  </span>
                </a>
              </div>
              
              <div class="card-body">
                <h5 class="card-title">
                  <a href="#" class="text-dark link-secondary">沖繩景點通票</a>
                </h5>
                <span class="badge rounded-pill bg-secondary">熱賣中</span>
                <p class="card-text mt-2 d-flex fs-6 text-secondary" style="font-size: 14px;">
                  <span class="material-icons text-warning" style="font-size: 22px;">
                    star
                  </span>
                  <span class="text-warning fw-bold fs-6" style="font-size: 14px;">4.9</span>
                  ・33K＋已訂購
                </p>
              </div>
              <div class="card-footer bg-transparent border-success border-0 mt-6">
                <h5>NT$ 888起</h5>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card mt-6 h-100">
              <div>
                <img src="/assets/images/kimono.jpeg" class="card-img-top position-relative img-fluid" alt="Universal studios">
                <a href="#">
                  <span class="material-icons position-absolute top-0 end-0 h2 link-secondary">
                    favorite
                  </span>
                </a>
              </div>
              
              <div class="card-body">
                <h5 class="card-title">
                  <a href="#" class="text-dark link-secondary">京都和服租賃</a>
                </h5>
                <span class="badge rounded-pill bg-secondary">熱賣中</span>
                <p class="card-text mt-2 d-flex fs-6 text-secondary" style="font-size: 14px;">
                  <span class="material-icons text-warning" style="font-size: 22px;">
                    star
                  </span>
                  <span class="text-warning fw-bold fs-6" style="font-size: 14px;">4.9</span>
                  ・20K＋已訂購
                </p>
              </div>
              <div class="card-footer bg-transparent border-success border-0 mt-6">
                <h5>NT$ 999起</h5>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card mt-6 h-100">
              <div>
                <img src="/assets/images/simcard.jpeg" class="card-img-top position-relative img-fluid" alt="Universal studios" >
                <a href="#">
                  <span class="material-icons position-absolute top-0 end-0 h2 link-secondary">
                    favorite
                  </span>
                </a>
              </div>
              
              <div class="card-body">
                <h5 class="card-title">
                  <a href="#" class="text-dark link-secondary">日本網卡| 吃到飽/
                    500M/1G eSIM卡</a>
                </h5>
                <span class="badge rounded-pill bg-secondary">熱賣中</span>
                <span class="badge rounded-pill bg-secondary">即買即用</span>
                <p class="card-text mt-2 d-flex fs-6 text-secondary" style="font-size: 14px;">
                  <span class="material-icons text-warning" style="font-size: 22px;">
                    star
                  </span>
                  <span class="text-warning fw-bold fs-6" style="font-size: 14px;">4.9</span>
                  ・10K＋已訂購
                </p>
              </div>
              <div class="card-footer bg-transparent border-success border-0 mt-6">
                <h5>NT$ 699起</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="popular-cities pt-10">
      <div class="container">
        <h2 class="mt-10 h3">探索熱門城市</h2>
        <div class="row">
          <div class="col">
            <div class="card bg-dark text-white mt-6">
                <img src="/assets/images/tokyo.jpeg" class="card-img position-relative" alt="tokyo">
              <div class="card-city ms-2">
                <h3 class="card-title position-absolute bottom-0">東京</h3>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card bg-dark text-white mt-6">
              <img src="/assets/images/Kyoto.jpeg" class="card-img" alt="tokyo">
              <div class="card-city ms-2">
                <h3 class="card-title position-absolute bottom-0">京都</h3>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card bg-dark text-white mt-6">
              <img src="/assets/images/osaka.jpeg" class="card-img" alt="tokyo">
              <div class="card-city ms-2">
                <h3 class="card-title position-absolute bottom-0">大阪</h3>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card bg-dark text-white mt-6">
              <img src="/assets/images/photo-1583839543004-7cb6e69b8b33.avif" class="card-img" alt="tokyo">
              <div class="card-city ms-2">
                <h3 class="card-title position-absolute bottom-0">沖繩</h3>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card bg-dark text-white mt-6">
              <img src="/assets/images/sapporo.jpeg" class="card-img" alt="tokyo">
              <div class="card-city ms-2">
                <h3 class="card-title position-absolute bottom-0">札幌</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
