<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Noto+Sans+TC:wght@400;700;900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <title>IN JAPAN</title>
  </head>
  <body>
    <%- include('./layout/header_search'); -%>

   <div class="container">
    <div class="info-img mt-6">
    </div>
    <div class="row mt-4">
      <div class="col-8">
        <div class="title d-flex p-4">
          <h2>大阪環球影城門票 Universal Studios Japan｜日本大阪</h2>
          <a href="#">
            <span class="material-icons ms-10 text-secondary link-danger">
              favorite
            </span>
          </a>
        </div>
        <div class="title-text px-4">
          <p class="d-flex"><span class="material-icons">location_on</span>日本-大阪</p>
          <p class="card-text mt-2 d-flex fs-6 text-secondary" style="font-size: 14px;">
            <span class="material-icons text-warning" style="font-size: 22px;">
              star
            </span>
            <span class="text-warning fw-bold fs-6" style="font-size: 14px;">4.9</span>
            ・100K＋已訂購
          </p>
          <p class="d-flex">
            <span class="material-icons me-1">flash_on</span> <span class="me-6">即買即用</span>
            <span class="material-icons me-1">phone_iphone</span> <span class="me-6">現場出示電子憑證</span>
            <span class="material-icons me-1">event_available</span> <span>有效期內皆可兌換</span>
          </p>
        </div>
        <div class="plan px-4 mt-10">
          <h3>方案選擇</h3>
          <div class="plan-box bg-light p-6 border rounded mt-4">
            <h4>普通票</h4>
            <p class="mt-10">選擇數量</p>
            <div class="plan-choice d-flex justify-content-between fw-bold h4 mt-10">
              <p>每人</p>
              <p class="d-flex">NT$ 1988 
                <span class="material-icons ms-4 text-secondary">remove_circle_outline</span>
                <span class="ms-4">1</span>
                <span class="material-icons ms-4 text-danger">add_circle_outline</span> 
              </p>
            </div>
            <hr>
            <div class="plan-price d-flex justify-content-between">
              <p>總金額</p>
              <p class="h3 text-danger">NT$ 1988</p>
            </div>
            <div class="plan-btn d-flex justify-content-end">
              <button type="button" class="btn btn-warning text-white mt-4 me-2">加入購物車</button>
              <button type="button" class="btn btn-danger mt-4">立即訂購</button>
            </div>
          </div>
        </div>
        <div class="description px-4 mt-10">
          <h3>商品說明</h3>
          <p class="mt-4">日本環球影城（日語：ユニバーサル・スタジオ・ジャパン，英語：Universal Studios Japan）位於日本大阪市，是世界5個環球影城主題公園之一，其設計與美國奧蘭多的環球影城相近，有部份機動遊戲相同，包括經典設施「侏羅紀公園」、「魔鬼終結者」、「蜘蛛人」、「大白鯊」，另有「超級任天堂世界」及「哈利波特魔法世界」等園區。根據美國主題娛樂協會（TEA）與知名國際工程顧問公司 AECOM 2022年公布的「全球主題公園和博物館報告」，日本環球影城在全球主題樂園中排名第5位（來源：維基百科）</p>
          <img class="w-100" src="/assets/images/Universal_Studios2.jpeg" alt="Universal Studios2">
          <img class="w-100 mt-2" src="/assets/images/Universal_Studios3.jpeg" alt="Universal Studios3">
          <img class="w-100 mt-2" src="/assets/images/Universal_Studios4.jpeg" alt="Universal Studios4">
          <img class="w-100 mt-2" src="/assets/images/Universal_Studios5.jpeg" alt="Universal Studios5">
        </div>
        <div class="how-to-use px-4 mt-10">
          <h3>使用說明</h3>
          <ul class="mt-4">
            <li>現場出示 QR code</li>
          </ul>
        </div>
        <div class="location px-4 mt-10">
          <h3>體驗地點</h3>
          <a href="#"><img class="w-100 mt-4" src="/assets/images/Universal_Studios6.png" alt="Universal_Studios map"></a>
        </div>
      </div>
      <div class="col-4">
        <div class="price p-6 d-flex justify-content-center flex-column border rounded">
          <h3>NT$ 1988</h3>
          <button type="button" class="btn btn-danger mt-4">選擇方案</button>
        </div>
      </div>
      <hr class="mt-10">
    </div>
    <div class="recommend row pb-8">
      <h4>推薦行程</h4>
      <div class="col">
        <div class="card mt-6 h-100">
          <div class="h-50">
            <img src="/assets/images/top10_2.jpg" class="card-img-top position-relative img-fluid" alt="Universal studios">
            <a href="#">
              <span class="material-icons position-absolute top-0 end-0 h2 text-secondary link-danger">
                favorite
              </span>
            </a>
          </div>
          
          <div class="card-body">
            <h5 class="card-title">
              <a href="#" class="text-dark link-secondary">東京迪士尼樂園門票</a>
            </h5>
            <span class="badge rounded-pill bg-secondary">熱賣中</span>
            <span class="badge rounded-pill bg-secondary">即買即用</span>
            <p class="card-text mt-2 d-flex fs-6 text-secondary" style="font-size: 14px;">
              <span class="material-icons text-warning" style="font-size: 22px;">
                star
              </span>
              <span class="text-warning fw-bold fs-6" style="font-size: 14px;">4.9</span>
              ・100K＋已訂購
            </p>
          </div>
          <div class="card-footer bg-transparent border-success border-0 mt-6">
            <h5>NT$ 1988起</h5>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mt-6 h-100">
          <div>
            <img src="/assets/images/top10_3.jpg" class="card-img-top position-relative img-fluid" alt="Universal studios">
            <a href="#">
              <span class="material-icons position-absolute top-0 end-0 h2 text-secondary link-danger">
                favorite
              </span>
            </a>
          </div>
          
          <div class="card-body">
            <h5 class="card-title">
              <a href="#" class="text-dark link-secondary">關西周遊卷2日卷/3
                日卷-關西機場領取</a>
            </h5>
            <span class="badge rounded-pill bg-secondary">熱賣中</span>
            <span class="badge rounded-pill bg-secondary">即買即用</span>
            <p class="card-text mt-2 d-flex fs-6 text-secondary" style="font-size: 14px;">
              <span class="material-icons text-warning" style="font-size: 22px;">
                star
              </span>
              <span class="text-warning fw-bold fs-6" style="font-size: 14px;">4.8</span>
              ・80K＋已訂購
            </p>
          </div>
          <div class="card-footer bg-transparent border-success border-0 mt-6">
            <h5>NT$ 999起</h5>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mt-6 h-100">
          <div>
            <img src="/assets/images/top10_4.jpg" class="card-img-top position-relative img-fluid" alt="Universal studios" >
            <a href="#">
              <span class="material-icons position-absolute top-0 end-0 h2 text-secondary link-danger">
                favorite
              </span>
            </a>
          </div>
          
          <div class="card-body">
            <h5 class="card-title">
              <a href="#" class="text-dark link-secondary">東京華納兄弟哈利波
                特影城門票</a>
            </h5>
            <span class="badge rounded-pill bg-secondary">熱賣中</span>
            <span class="badge rounded-pill bg-secondary">即買即用</span>
            <p class="card-text mt-2 d-flex fs-6 text-secondary" style="font-size: 14px;">
              <span class="material-icons text-warning" style="font-size: 22px;">
                star
              </span>
              <span class="text-warning fw-bold fs-6" style="font-size: 14px;">4.9</span>
              ・50K＋已訂購
            </p>
          </div>
          <div class="card-footer bg-transparent border-success border-0 mt-6">
            <h5>NT$ 1399起</h5>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mt-6 h-100">
          <div>
            <img src="/assets/images/Nara.jpg" class="card-img-top position-relative img-fluid" alt="Universal studios">
            <a href="#">
              <span class="material-icons position-absolute top-0 end-0 h2 text-secondary link-danger">
                favorite
              </span>
            </a>
          </div>
          
          <div class="card-body">
            <h5 class="card-title">
              <a href="#" class="text-dark link-secondary">京都＆奈良一日遊</a>
            </h5>
            <span class="badge rounded-pill bg-secondary">熱賣中</span>
            <p class="card-text mt-2 d-flex fs-6 text-secondary" style="font-size: 14px;">
              <span class="material-icons text-warning" style="font-size: 22px;">
                star
              </span>
              <span class="text-warning fw-bold fs-6" style="font-size: 14px;">4.9</span>
              ・66K＋已訂購
            </p>
          </div>
          <div class="card-footer bg-transparent border-success border-0 mt-6">
            <h5>NT$ 2166起</h5>
          </div>
        </div>
      </div>
      
    </div>
   </div>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
